body {
    /* background: url("../img/background.jpg") repeat center; */
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
    /* color: #fff; */
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efaed3+0,ffffff+100 */
background: #efaed3; /* Old browsers */
background: -moz-linear-gradient(top, #efaed3 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #efaed3 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #efaed3 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efaed3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    padding-top: 10px;
}

.container-images img {
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.container-images img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}